@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat&family=Poppins:wght@300;400&display=swap");
/* for mobile */
body {
  background-color: black;
  color: rgb(210, 210, 210);
  font-family: "Montserrat", "Poppins", sans-serif, cursive;
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #clock {
  min-width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .hrs, .mins{
    font-size: 14rem;
    font-weight: 900;
    color: black;
    padding: 30px;
    margin: 10px;
    margin: 10px;
    background-color: rgba(218, 218, 218, 0.984);
    border-radius: 50px;
  }
  .secs, .session{
    font-size: 4rem;
    font-weight: 300;
    width: 80px;
    margin: 10px;
  }
} */
.clock {
  height: 20vh;
  color: white;
  font-size: 22vh;
  font-family: sans-serif;
  line-height: 20.4vh;
  display: flex;
  position: relative;
  /*background: green;*/
  overflow: hidden;
}

.clock::before, .clock::after {
  content: '';
  width: 7ch;
  height: 3vh;
  background: linear-gradient(to top, transparent, black);
  position: absolute;
  z-index: 2;
}

.clock::after {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, black);
}

.clock > div {
  display: flex;
}

.tick {
  line-height: 17vh;
}

.tick-hidden {
  opacity: 0;
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-20vh);
  }
}




/* _____________ */
.section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  margin: 10px;
}
.contributes {
  display: flex;
  margin-left: 3rem;
}
.contrib_box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 20px;
}

.zero {
  background-color: rgba(112, 112, 112, 0.754);
}
.one {
  background-color: rgba(0, 215, 253, 0.35);
}
.three {
  background-color: rgba(0, 215, 253, 0.7);
}
.more {
  background-color: rgba(0, 215, 253, 0.95);
}

.alert {
  margin: 5px;
  padding: 1rem;
  margin-left: 4rem;
  border-radius: 10px;
  width: fit-content;
  color: rgba(201, 200, 200, 0.623);
}
.incomp_commit {
  color: white;
  background-color: rgba(199, 40, 40, 0.529);
}
.comp_commit {
  color: white;
  background-color: rgba(0, 215, 253, 0.35);
}
